name: Test PHP
on:
    push:
        branches: 
            - main
    workflow_dispatch:
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Set up composer
              uses: php-actions/composer@v6

            - name : Install dependencies
              run: composer update

            - name: Run tests
              run: vendor/bin/phpunit tests